/* src/index.css */

/* Основные стили для body и фона */
body {
    margin: 0;
    padding: 80px 0 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow-x: hidden;
    background: #f0f8ff;
    min-height: 1000px;
    -webkit-touch-callout: none; /* Отключаем вызов меню при долгом нажатии */
    -webkit-user-select: none; /* Запрещаем выделение текста */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }